# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: 

List data lenguages

List data science libraries

Aritmethic expresssions 

Insert markdown

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia
4. Scala
5. java

Some of the commonly used libraries used by Data Scientists include:

    1. TensorFlow.
    
    2. NumPy.
    
    3. SciPy.
    
    4. Pandas.
    
    5. Matplotlib.

|Data Science Tools|
|------------------|
|R Studio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# # Author
César Martín